$ratio: 375 / 10;
@function rem($px) {
   @return $px / $ratio + rem;
}
@mixin textover() {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}

body {
   font-size: rem(16);
}
.head-down {
   height: rem(50);
   background-color: #ffffff;
   box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.09);
   display: flex;
   align-items: center;
  justify-content:space-between;
   padding: 0 rem(13);
   .title{
      display: flex;
      align-items: center;
      font-size: rem(14);
      .name { margin-left: 10px;}
   }
   .logo {
        width: rem(34);
        height: rem(34);
        border-radius: 5px;
   }
    .downBtn {
      width: rem(62);
      height: rem(26);
      line-height: rem(26);
      background-color: #bd4044;
      border-radius: rem(13);
      text-align: center;
      color:#ffffff;
      font-size: rem(12);
    }
}
.main {

}
.main-info {
   display: flex;
   padding: rem(13);
   .book-logo {
         width: rem(80);
         height: rem(107);
   }
  .book-name {
      width: rem(270);
      margin-left:rem(11);
      font-size: rem(17);
      height: rem(27);
      .name {
        line-height: 1.6;
        color: #2c333b;
      }
     .price {
       color: #bd4044;
       margin-top:rem(13);
     }
  }
}
.info {
  padding: 0 rem(13);
  font-size: rem(14);
  p {
    line-height: 2.2;
    @include  textover();
  }
}
.content {
   padding: rem(13) rem(13) rem(5) rem(13);
   border-bottom: 10px solid #f5f5f5;
   .title{
      margin-bottom: rem(13);
   }
   .words {
      font-size: rem(14);
      line-height: 1.8;
      height: rem(124);
      overflow: hidden;
   }
  .bottom {
     text-align: center;
  }
}
.catalog{
  padding: rem(13) rem(13) rem(5) rem(13);
  height: rem(242);
  overflow: hidden;
  .title{
    margin-bottom:rem(8);
    .small {
       font-size: rem(14);
       margin-left: 3px;
    }
  }
  .moreBtn-c-o {
    text-align: center;
  }
  .moreBtn-c-c {
     text-align: center;
  }
  p {
    font-size:rem(14);
    line-height:2.6;
    @include  textover();
  }
}